# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Credentials
*.json
.terraformrc
terraform.rc

# OS
.DS_Store
